
.link-active {
    background-color: #102B3F !important;
    border-radius: 5px;
}

.nav {
    background-color: #66999B;
    padding: 8px
}

.nav-title {
    margin-right: 20px;
}

.nav-title h2 {
    font-size: 28px;
}

.nav-link {
    color: white;
}