#page {
    border-radius: 5px;
    border: 2px solid #aba583;
    background-color: #edeadd;
    padding: 10px 20px;
    margin: 20px 25%;
}

#liste {
    border-radius: 5px;
    border: 2px solid #102B3F;
    background-color: #9ebdd5;
    padding: 10px 20px;
}

#input {
    border-radius: 5px;
    border: 2px solid #c0e3e4;  
    background-color: #66999B;
    padding: 10px 20px;
    margin-bottom: 10px;
}

