<h2>Bienvenu dans la section des exercices</h2>

<p>Cette section a pour but de présenter les différentes corrections aux exercices proposés:</p>

<div id="exo1">
    <h3>exo 1: les components et le binding</h3>
    <img src="/assets/img/exo1.png" width="500px">
    <p>L'objectif est d'avoir un select permettant de choisir la couleur d'un carré parmi rouge, vert ou bleu</p>
    <button class="btn btn-info" routerLink="./binding">voir le résultat</button>    
</div>

<div id="exo2">
    <h3>exo 2: les pipes</h3>
    <img src="/assets/img/exo2.png" width="500px">
    <p>L'objectif est de pouvoir transformer un donnée en une autre pour facilité l'affichage. Dans ce cas, des secondes en une chaine de caractère contenant minutes et secondes converties</p>
    <button class="btn btn-info" routerLink="./pipe">voir le résultat</button>
</div>

<div id="exo3">
    <h3>exo 3.1: les directives</h3>
    <img src="/assets/img/exo3.png" width="500px">
    <p>L'objectif est d'utiliser les directives de composants et les directives structurelles pour arriver au comportement souhaité.</p>
    <button class="btn btn-info" routerLink="./directive">voir le résultat</button>

    <h3>exo 3.2: Les directives customs</h3>
    <img src="/assets/img/exo3_2.PNG" width="500px">
    <p>L'objectif est de créer une directive custom et l'utiliser.</p>
    <button class="btn btn-info" routerLink="./directive">voir le résultat</button>
</div>

<div id="exo4">
    <h3>exo 4: les Input/Output</h3>
    <img src="/assets/img/exo4.PNG" width="800px">
    <p>L'objectif est de manier les Input et Output dans le but faire passer les infos de parent à enfant et inversément.</p>
    <button class="btn btn-info" routerLink="./commu">voir le résultat</button>
</div>
