<ul class="nav">
    <li class="nav-title">
        <h2>Les Demos</h2>
    </li>
    <li class="nav-item">
        <a routerLink="./binding" class="nav-link" routerLinkActive="link-active">binding</a>
    </li>
    <li class="nav-item">
        <a routerLink="./directive" class="nav-link" routerLinkActive="link-active">directive</a>
    </li>
    <li class="nav-item">
        <div id="parite-holder">
            <input type="number" [(ngModel)]="nombre" class="nav-input">
            <button (click)="checkParite()" class="nav-link nav-input-btn">parité</button>
        </div>
    </li>
    <li class="nav-item">
        <a routerLink="./pipe" class="nav-link" routerLinkActive="link-active">pipe</a>
    </li>
</ul>

<div class="container">
    <router-outlet></router-outlet>
</div>

