
.link-active {
    background-color: #102B3F !important;
    border-radius: 5px;
}

.nav {
    background-color: #66999B;
    padding: 8px
}

.nav-title {
    margin-right: 20px;
}

.nav-title h2 {
    font-size: 28px;
}

.nav-link {
    color: white;
}

.nav-input {
    border-radius: 5px;
}

.nav-input-btn {
    border-radius: 5px;
    background-color: #102B3F;
}

#parite-holder {
    display: flex;
    margin: 0 10px;
}